@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@expenses.Resources.Descripciones.RptUltimos12Meses
<br />
<br />
<a href='@Url.Action("RptAhorroGasto", "Chart")'>
    <img src="~/Img/iconos/RptFinanzas.png" title="@expenses.Resources.Descripciones.RptTituloGastoAhorroMenu">
</a>
<br />
<br />
@expenses.Resources.Descripciones.RptMesEnCurso
<br />
<br />
<a href='@Url.Action("RptGastoMensual", "Chart")'>
    <img src="~/Img/iconos/RptGastoMensual.png" title="@expenses.Resources.Descripciones.RptGastoMensualMenu">
</a>
<br />
<br />
@expenses.Resources.Descripciones.RptAñoEnCurso
<br />
<br />
<a href='@Url.Action("RptGastoAcumulado", "Chart")'>
    <img src="~/Img/iconos/RptAcumuladoAnual.png" title="@expenses.Resources.Descripciones.RptGastoAnualAcumulado">
</a>
<!--
<a href='@Url.Action("RptDiffEntreMeses", "Chart")'>
    <img src="~/Img/iconos/RptGastoMensual.png" title="@expenses.Resources.Descripciones.RptGastoMensualMenu">
</a>
    -->
