@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@expenses.Resources.Descripciones.RptUltimos12Meses
<br />
<br />
<a href='@Url.Action("RptAhorroGasto", "Chart")'>
    <img src="~/Img/iconos/RptFinanzas.png" title="@expenses.Resources.Descripciones.RptTituloGastoAhorroMenu">
</a>
<br />
<br />
@expenses.Resources.Descripciones.RptMesEnCurso
<br />
<br />
<a href='@Url.Action("RptGastoMensual", "Chart")'>
    <img src="~/Img/iconos/RptGastoMensual.png" title="@expenses.Resources.Descripciones.RptGastoMensualMenu">
</a>
<br />
<br />
@expenses.Resources.Descripciones.RptAñoEnCurso
<br />
<br />
<a href='@Url.Action("RptGastoAcumulado", "Chart")'>
    <img src="~/Img/iconos/RptAcumuladoAnual.png" title="@expenses.Resources.Descripciones.RptGastoAnualAcumulado">
</a>
<br />
<br />
@expenses.Resources.Descripciones.RptResumenes
<br />
<br />
<a href='@Url.Action("RptGastoTipo", "Chart")'>
    <img src="~/Img/iconos/group.png" title="@expenses.Resources.Descripciones.RptResumenGrupoGasto">
</a>
<!--
<br />
<br />
TOP TEN
<br />
<br />
<a href='@Url.Action("RptTopTenSubtipo", "Chart")'>
    <img src="~/Img/iconos/RptAcumuladoAnual.png" title="@expenses.Resources.Descripciones.RptGastoAnualAcumulado">
</a>
    -->
<!--
select Concepto, count(*) from gasto
where idSubTipoGasto = 24 and idUserGasto='beca748b-86ef-4f86-a855-f50fa0f40dec' and YEAR(Fecha)=2020
group by concepto
ORDER BY 2 DESC


<a href='@Url.Action("RptDiffEntreMeses", "Chart")'>
    <img src="~/Img/iconos/RptGastoMensual.png" title="@expenses.Resources.Descripciones.RptGastoMensualMenu">
</a>
    -->
