@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Expenses</h1>
    <p class="lead">@expenses.Resources.Descripciones.HomeNoAutentificadoLinea1</p>
    <!--
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
     -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@expenses.Resources.Descripciones.HomeNoAutentificadoTituloGrupo1</h2> 
        <p>
            @expenses.Resources.Descripciones.HomeNoAutentificadoTextoGrupo1
        </p>
    </div>
    <div class="col-md-4">
        <h2>@expenses.Resources.Descripciones.HomeNoAutentificadoTituloGrupo2</h2>
        <p>
            @expenses.Resources.Descripciones.HomeNoAutentificadoTextoGrupo2
            <br />
            <center>
                <img src="~/Img/home/Graph300.png" />
            </center>
        </p>

    </div>
    <div class="col-md-4">
        <h2>@expenses.Resources.Descripciones.HomeNoAutentificadoTituloGrupo3</h2>
        <p>@expenses.Resources.Descripciones.HomeNoAutentificadoTextoGrupo3</p>
    </div>
</div>