@model experses.Models.HomeViewModels
@{
    ViewBag.Title = "IndexA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<br />

<style type="text/css">
    .SearchButton {
        background: url(/Img/iconos/search.png) no-repeat;
        cursor: pointer;
        border: none;
        width: 32px;
        height: 32px;
    }

    .exportButton {
        background: url(/Img/iconos/search.png) no-repeat;
        cursor: pointer;
        border: none;
        width: 32px;
        height: 32px;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <table border="0">
                <tr>
                    <td>@expenses.Resources.Descripciones.GastoMensual</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td align="right">
                        @if (Model.TotalGastoMensual >= 500)
                        {
                            <font color="red"> @Model.TotalGastoMensual</font>
                        }
                        else if (Model.TotalGastoMensual >= 400 && Model.TotalGastoMensual < 500)
                        {
                            <font color="yellow"> @Model.TotalGastoMensual</font>
                        }
                        else
                        {
                            <font color="green"> @Model.TotalGastoMensual</font>
                        }
                    </td>
                </tr>
                <tr>
                    <td>@expenses.Resources.Descripciones.GastoMesAnterior</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td align="right">@Model.TotalGastoMensualMesAnterior</td>
                </tr>
            </table>
        </div>

        <div class="col-md-2"><p class="text-right"></p></div>
        <div class="col-md-3">
            <table border="0">
                <tr>
                    <td>@expenses.Resources.Descripciones.GastoMensualTarjeta</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td align="right">
                        <font color="green"> <div title="@expenses.Resources.Descripciones.GastoMensualTarjetaExplicacion"> @Model.TotalGastoMensualTarjeta </div></font>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2"><p class="text-right"></p></div>
        <div class="col-md-2 right">
            <a href='@Url.Action("Add", "Gastos")'>
                <img src="~/Img/iconos/AddNew.png" title="@expenses.Resources.Descripciones.ImgNewGasto">
            </a>
            <a href='@Url.Action("Add", "Gastos2")'>
                <img src="~/Img/iconos/AddNewTimer.png" title="@expenses.Resources.Descripciones.ImgNewGastoRecurrente">
            </a>
            <a href='@Url.Action("Index", "Chart")'>
                <img src="~/Img/iconos/Graph.png" title="@expenses.Resources.Descripciones.ImgStats">
            </a>
        </div>
    </div>
</div>
<div class="jumbotron">
    @if (Model.isMobile == false)
    {
        <div class="row">
            <div class="col-sm-5"><input class="form-control" placeholder="@expenses.Resources.Descripciones.GridTipoGasto" data-mvcgrid-type="filter" data-mvcgrid-option="TipoGasto" /></div>
            <div class="col-sm-5">
                <input class="form-control" placeholder="@expenses.Resources.Descripciones.GridGastoConcepto" data-mvcgrid-type="filter" data-mvcgrid-option="Concepto" />
            </div>
            <div class="col-sm-2">
                <button type="button" class="SearchButton" data-mvcgrid-apply-filter="click">sdfdsfdssdfdsfds</button>
                <!--
                    <button type="button" id="exportButton" class="myButton"></button>
                -->
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">@Html.MVCGrid("InOutUserGrid", new { user = User.Identity.Name,  GlobalSearch = true })</div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#exportButton').click(function () {
            alert("a");
            location.href = MVCGrid.getExportUrl('InOutUserGrid');
        });
    });


</script>

